<% include partials/header %>
<link rel="stylesheet" href="/stylesheets/landing.css">

  <div class="container1">
    <div class="row">
      <div class="col-md-6 m-auto">
        <h4><p>User Name: &nbsp<%= currentUser.username%></p></h4><br>
        <h4><p>First Name: &nbsp<%= currentUser.firstName%></p></h4><br>
        <h4><p>Last Name: &nbsp<%= currentUser.lastName%></p></h4><br>
        <h4><p>Email: &nbsp<%= currentUser.email%></p></h4><br>
      </div>
    </div>
  </div>
<% include partials/footer %>
